html{
	background:url(../img/style1-background.png) no-repeat center center fixed;
	background-size: cover;
	font-family:Arial, Helvetica, sans-serif;
	color: white;
}

header{
	display:inline-flex;
	height:10%;
	width:100%;
	background-color:#08088A;
}

body{
	margin:0;
	padding:0;
}

footer{
	height:10%;
	width:100%;
	text-align:center;
	color:white;
}

h1{
	margin:0;
	padding:0;
}

header h1{
	color:white;
	margin-left:20%;
}

#question {
		width:100%;
		margin-top:7%;
		font-size: 1.4em;
		text-align: center;
	}

#answer_button_not_selected {
	width:100%;
	background-color: #b9d6f0;
	border-radius: 15px;
	border: hidden;
	color: #033058;
	font-size: 1.2em;
	height: 5ex;
}

#answer_button_selected {
	width: 100%;
	background-color: #033058;
	border-radius: 15px;
	border: hidden;
	color: white;
	font-size: 1.2em;
	height: 5ex;
	
}

#table {
		width:100%;
	}

/*Media Query for Screen Size > 32 em*/
@media screen and (min-width:32em){
	header button{
		border-radius: 15px;
		font-weight:bold;
		font-size: 1.2em;
		color:white;
		background-color:#FF8000;
		border-color:#000;
		border-style:solid;
		padding:0.2em 1em 0.2em 1em;
	}

	#big-logo{
		margin: auto 0 auto 2%;
		float:left;
		margin-left:2%;
	}

	#quiz{
		margin: auto 0 auto -0.2%;
		float:left;
	}

	#sign-in{
		float:right;
		margin:auto 2% auto auto;
	}

	#content{
		height:80%;
		width:100%;
	}

	#table_content{
		width:100%;
		width:80%;
		margin-left:10%;
		margin-right:10%;
		/*background-color:#FF0000;*/
	}

	#info {	
		width:100%;
		text-align:center;
		color:white;
		font-weight:bold;
		margin-top:3.5%;
		font-size:1.5em;
	}
	
	#player1{
		display:inline;
		float:left;
		font-size:0.7em;
	}
	
	#player2{
		display:inline;
		float:right;
		font-size:0.7em;
	}
	
	#checkboxes{
		margin-top:3%;
	}
	
	#unnoetigerEWAHackfuerlolresponsivedesignomg{
	}

	#submit {
		width:100%;
	}

	#countdown {
		width:100%;
	}
	
	#columnLeft {
		width: 48%;
		float: left;
		margin-top: 2%;
		margin-right:2%;
	}
	
	#columnRight {
		width: 48%;
		float: right;
		margin-top: 2%;
		margin-left: 2%;
	}
}

/*Media Query for Screen Size < 32 em*/
@media screen and (max-width:32em){
	header button{
		border-radius: 10px;
		font-weight:bold;
		font-size: 1.2em;
		color:white;
		background-color:#FF8000;
		border-color:#000;
		border-style:solid;
		padding:0.2em 0em 0.2em 0em;
	}

	#big-logo{
		margin: auto 0 auto 2%;
		float:left;
		margin-left:2%;
	}

	#quiz{
		margin: auto 0 auto -0.2%;
		float:left;
	}

	#sign-in{
		float:right;
		margin:auto 2% auto auto;
	}
	
	#content{
		height:80%;
		width:100%;
	}

	#table_content{
		width:100%;
		width:80%;
		margin-left:10%;
		margin-right:10%;
		/*background-color:#FF0000;*/
	}
	
	#info {	
		width:100%;
		text-align:center;
		color:white;
		font-weight:bold;
		margin-top:3.5%;
		font-size:1.5em;
	}
	
	#player1{
		display:inline;
		float:left;
		font-size:0.7em;
	}
	
	#player2{
		display:inline;
		float:right;
		font-size:0.7em;
	}
	
	#checkboxes{
		margin-top:3%;
	}
	
	#unnoetigerEWAHackfuerlolresponsivedesignomg{
		padding-top:15%;
	}
	
	#columnLeft {
		width: 100%;
		float: left;
		margin-top: 2%;
	}
	
	#columnRight {
		width: 100%;
		float: left;
		margin-top: 2%;
	}
}
