@import play.i18n._
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Messages.get("start.title")</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="startpage">
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">@Messages.get("big")</span> @Messages.get("quiz")</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages.get("navi")</h2>
            <ul>
                <li><a id="logoutlink" title="@Messages.get("clickToLogout")" href="@routes.Authentication.logout" accesskey="l">@Messages.get("logout")</a></li>
            </ul>
        </nav>
        
        <section role="main" id="quiz">
        <form id="questionform" action="@routes.Quiz.quiz" method="post">
          <input id="startgame" type="submit" value="@Messages.get("start.startQuiz")"/>
         </form>
        </section>

        <!-- footer -->
        <footer role="contentinfo">@Messages.get("cpr")</footer>
    </body>
</html>
