@(wonRoundsPlayerA:String, wonRoundsPlayerB:String,winner: String, roundCount: String, resultForRoundOver: List[String],resultForRoundOverComp: List[String], user1: String, user2: String) 
@import play.i18n._
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Messages.get("round.title")</title>
       	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/main.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="winnerpage">
        <a class="accessibility" href="#roundwinner">@Messages.get("round.toRoundValidation")</a>
        <header role="banner" aria-labelledby="mainheading"><h1 id="mainheading"><span class="accessibility">@Messages.get("big")</span> @Messages.get("quiz")</h1></header>
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages.get("navi")</h2>
            <ul>
                <li><a id="logoutlink" title="@Messages.get("clickToLogout")" href="@routes.Authentication.logout" accesskey="l">@Messages.get("logout")</a></li>
            </ul>
        </nav>
        
        <section role="main">
            <!-- winner message -->
            <section id="roundwinner" aria-labelledby="roundwinnerheading">
                <h2 id="roundwinnerheading" class="accessibility">@Messages.get("round.roundResult")</h2>
                <p class="roundwinnermessage">@Messages.get("round.winner", winner, roundCount)!</p>
            </section>
        
            <!-- round info -->    
            <section id="roundinfo" aria-labelledby="roundinfoheading">
                <h2 id="roundinfoheading" class="accessibility">@Messages.get("playerInfo")</h2>
                <div id="player1info" class="playerinfo">
                    <span id="player1name" class="playername">@user1</span>
                    <ul class="playerroundsummary">
                        <li><span class="accessibility">@Messages.get("round.question") 1:</span><span id="player1answer1" class="@resultForRoundOver.get(0)"></span></li>
                        <li><span class="accessibility">@Messages.get("round.question") 2:</span><span id="player1answer2" class="@resultForRoundOver.get(1)"></span></li>
                        <li><span class="accessibility">@Messages.get("round.question") 3:</span><span id="player1answer3" class="@resultForRoundOver.get(2)"></span></li>
                    </ul>
                    <p id="player1roundcounter" class="playerroundcounter">@Messages.get("round.wonRounds"): <span id="player1wonrounds" class="playerwonrounds">@wonRoundsPlayerA</span></p>
                </div>
                <div id="player2info" class="playerinfo">
                    <span id="player2name" class="playername">@user2</span>
                    <ul class="playerroundsummary">
                        <li><span class="accessibility">@Messages.get("round.question") 1:</span><span id="player2answer1" class="@resultForRoundOverComp.get(0)"></span></li>
                        <li><span class="accessibility">@Messages.get("round.question") 2:</span><span id="player2answer2" class="@resultForRoundOverComp.get(1)"></span></li>
                        <li><span class="accessibility">@Messages.get("round.question") 3:</span><span id="player2answer3" class="@resultForRoundOverComp.get(2)"></span></li>
                    </ul>
                    <p id="player2roundcounter" class="playerroundcounter">@Messages.get("round.wonRounds"): <span id="player2wonrounds" class="playerwonrounds">@wonRoundsPlayerB</span></p>
                </div>
                <form id="questionform" action="@routes.Quiz.quiz" method="post">
          			<input id="next" type="submit" value="@Messages.get("round.next")"/>
         		</form>
        
            </section>
        </section>

        <!-- footer -->
        <footer role="contentinfo">@Messages.get("cpr")</footer>
    </body>
</html>
